/* pm.rc */
#include <os2.h>
#include "over2.h"

ICON ID_PM over2.ico
BITMAP IDBM_E0 E0.BMP
BITMAP IDBM_H1 H1.BMP
BITMAP IDBM_H2 H2.BMP
BITMAP IDBM_H3 H3.BMP
BITMAP IDBM_E1 E0.BMP 
BITMAP IDBM_C1 C1.BMP
BITMAP IDBM_C2 C2.BMP
BITMAP IDBM_C3 C3.BMP
BITMAP IDBM_E2 E0.BMP 

MENU ID_PM
BEGIN
    SUBMENU "Game", IDM_GAME
    BEGIN
	MENUITEM "New", IDM_NEW
	MENUITEM "Info...", IDM_INFO
	MENUITEM SEPARATOR
	MENUITEM "Exit", IDM_EXIT 
    END
END

ACCELTABLE ID_PM
BEGIN
	VK_F2,		IDM_NEW,	VIRTUALKEY
	VK_F1,		IDM_INFO,	VIRTUALKEY
	VK_F3,		IDM_EXIT,	VIRTUALKEY
END
